.home-hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 92%;
}

body {
    background-image: url('../../assets/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  

.home-hero__info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
}

.home-hero__cta {
    margin-top: 5rem;
    text-align: center;
}

.text-primary {
    color: #333;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}

.heading-primary {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
    font-weight: 800;
}

.button {
    padding: 15px 40px;
    background-color: #4f6d7a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 8px 10px rgba(141, 12, 12, 0.1);
    transition: background-color 0.3s, transform 0.1s;
}

.button:hover {
    background-color: #2980b9;
}

.button:active {
    transform: translateY(1px);
}
